@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Poppins:wght@400;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'lato', sans-serif;
    letter-spacing: .1rem;
}

.tab1cards {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.btn {
	background-image: linear-gradient(to right, #FF9A40, #FF9A40, #FF9A40);
	color: #fff;
}
.btn: hover{
	background-color: #02E9FF;
	color:  #02E9FF;
}
.jumbotron {
	background-color: rgb(19 , 112, 121);
	font-size: 20px;
	font-family: `poppins`, sans-serif;
	padding: 80px;
	color: #fff;
}
center h3 {
	border-bottom: solid 1px #FF9A40;
	display: inline-block;
	padding-bottom: 5px;
}
#technology{
	color: #00717C;
}
.card {
	color: #00717C;
	border: 0.5px solid #02E9FF;
	font-size: 20px;
	padding: 14px;
	letter-spacing: .1rem; 
}
.card-header {
	background-color: #137079;
	color: #02E9FF;
}
.card-body {
	color: #00717C;
}
#rows {
	border: 0.5px solid #FF9A40;
	padding: 10px;
	box-sizing: border-box;
}